/* Noto Sans Font */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/noto-sans-v39-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/noto-sans-v39-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/noto-sans-v39-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/noto-sans-v39-latin-700.woff2') format('woff2');
}

@import "tailwindcss";

@theme {
  --color-purple-jm: #622599;
  --color-orange-jm: #e46e27;
  --color-salmon-jm: #F15857;
  --color-pink-jm: #F499C1;
  --color-yellow-jm: #FCB813;
  --color-green-jm: #0094B4;
  --color-red-jm: #c72528;
  --color-light-purple-jm: #decdff;
  --nav-height: 145px;
  --nav-height-mobile: 98px;
}